<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

# TRAINING AND MODEL/ENDPOINT CREATION FROM NOTEBOOK

In [1]:
import pandas as pd      
import numpy as np 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [2]:
def eval_metrics(actual, pred):
    rmse = np.sqrt(mean_squared_error(actual, pred))
    mae = mean_absolute_error(actual, pred)
    mse = mean_squared_error(actual, pred)
    score = r2_score(actual, pred)
    return print(" r2_score:", score, "\n","mae:", mae, "\n","mse:",mse, "\n","rmse:",rmse)

In [3]:
train_data = pd.read_csv("train_data.csv")
test_data = pd.read_csv("test_data.csv")

In [4]:
train_data.shape

(12731, 6)

In [5]:
test_data.shape

(3183, 6)

In [6]:
train_data.head()

   price  age  hp_kW       km Gearing_Type     make_model
0  26379  0.0  100.0   5900.0       Manual  Opel Insignia
1  18990  0.0   66.0   1900.0       Manual     Opel Astra
2  12480  2.0   81.0  39792.0       Manual     Opel Astra
3  34490  0.0  154.0     10.0    Automatic  Opel Insignia
4  15888  2.0   60.0  11903.0       Manual        Audi A1

In [7]:
test_data.head()

   price  age  hp_kW       km Gearing_Type make_model
0  14500  2.0  141.0  80000.0    Automatic    Audi A1
1  16790  3.0   66.0  16200.0    Automatic    Audi A1
2  15090  3.0   85.0  63668.0    Automatic    Audi A1
3  17990  2.0   70.0  16103.0    Automatic    Audi A1
4  17990  3.0   92.0  26415.0    Automatic    Audi A1

In [8]:
train_data.describe()

              price           age         hp_kW             km
count  12731.000000  12731.000000  12731.000000   12731.000000
mean   17996.286702      1.387244     88.382374   32002.454174
std     7349.138624      1.121765     26.693078   37081.360187
min     4950.000000      0.000000     40.000000       0.000000
25%    12850.000000      0.000000     66.000000    1699.500000
50%    16890.000000      1.000000     85.000000   20321.000000
75%    21910.000000      2.000000    101.000000   46375.000000
max    74600.000000      3.000000    294.000000  291800.000000

In [9]:
test_data.describe()

              price          age        hp_kW             km
count   3183.000000  3183.000000  3183.000000    3183.000000
mean   18133.550424     1.399623    88.968269   32441.995475
std     7509.562135     1.119744    26.602421   36567.088540
min     5450.000000     0.000000    51.000000       0.000000
25%    12880.000000     0.000000    66.000000    2970.500000
50%    16990.000000     1.000000    85.000000   20900.000000
75%    21900.000000     2.000000   103.000000   48000.000000
max    68320.000000     3.000000   294.000000  317000.000000

In [10]:
train_data.make_model.value_counts()

Audi A3           2488
Audi A1           2111
Opel Insignia     2044
Opel Astra        1995
Opel Corsa        1791
Renault Clio      1488
Renault Espace     786
Renault Duster      28
Name: make_model, dtype: int64

In [11]:
test_data.make_model.value_counts()

Audi A3           609
Opel Insignia     554
Opel Astra        530
Audi A1           503
Opel Corsa        425
Renault Clio      351
Renault Espace    205
Renault Duster      6
Name: make_model, dtype: int64

In [12]:
train_data.Gearing_Type.value_counts()

Manual            6496
Automatic         5861
Semi-automatic     374
Name: Gearing_Type, dtype: int64

# Split train_data into train and validation

In [13]:
X=train_data.drop(["price"], axis = 1)
y=train_data['price']

In [14]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, random_state=1)

In [15]:
X_train.head()

      age  hp_kW       km Gearing_Type     make_model
8699  2.0   51.0  40000.0       Manual     Opel Corsa
5137  3.0   70.0  97976.0       Manual        Audi A1
536   1.0   66.0  14500.0       Manual        Audi A1
876   3.0   55.0  25329.0       Manual     Opel Corsa
8690  2.0  125.0  37125.0    Automatic  Opel Insignia

In [16]:
y_train.head()

8699     8900
5137    11490
536     16800
876      7899
8690    19499
Name: price, dtype: int64

In [17]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OrdinalEncoder

In [18]:
cat = X_train.select_dtypes("object").columns
cat

Index(['Gearing_Type', 'make_model'], dtype='object')

In [19]:
ord_enc = OrdinalEncoder()
column_trans = make_column_transformer((ord_enc, cat), remainder='passthrough') # remainder: # Keep other columns rather than cat in original form.
                                                                                # remainder: # if you want to scale rest of cat columns use "minmax" istead passthroug
    
    # Apply ord_enc to categoric variables and remain in original form rest of them.
    # ord_enc for DT based algorithms
    # For Linear reg, log reg vs. use one hot encoder

In [20]:
train_numpy=column_trans.fit_transform(X_train)
validation_numpy=column_trans.transform(X_val)

In [21]:
train_numpy

array([[1.00000000e+00, 3.00000000e+00, 2.00000000e+00, 5.10000000e+01,
        4.00000000e+04],
       [1.00000000e+00, 0.00000000e+00, 3.00000000e+00, 7.00000000e+01,
        9.79760000e+04],
       [1.00000000e+00, 0.00000000e+00, 1.00000000e+00, 6.60000000e+01,
        1.45000000e+04],
       ...,
       [1.00000000e+00, 2.00000000e+00, 0.00000000e+00, 6.60000000e+01,
        1.00000000e+01],
       [0.00000000e+00, 1.00000000e+00, 1.00000000e+00, 8.50000000e+01,
        1.90000000e+04],
       [1.00000000e+00, 4.00000000e+00, 0.00000000e+00, 1.03000000e+02,
        1.64736261e+03]])

In [22]:
# let's fix the orders, categorical features are shifted to the begining
train = pd.DataFrame(train_numpy, columns = ["Gearing_Type", 'make_model', "age", "hp_kW", "km"], index = X_train.index)
validation = pd.DataFrame(validation_numpy, columns = ["Gearing_Type", 'make_model', "age", "hp_kW", "km"], index = X_val.index)

In [23]:
train.head()

      Gearing_Type  make_model  age  hp_kW       km
8699           1.0         3.0  2.0   51.0  40000.0
5137           1.0         0.0  3.0   70.0  97976.0
536            1.0         0.0  1.0   66.0  14500.0
876            1.0         3.0  3.0   55.0  25329.0
8690           0.0         4.0  2.0  125.0  37125.0

In [24]:
train = pd.concat([pd.Series(y_train, index = X_train.index, name="price", dtype=int), train], axis=1)
validation = pd.concat([pd.Series(y_val, index = X_val.index, name="price", dtype=int), validation], axis=1)

In [25]:
train.head()

      price  Gearing_Type  make_model  age  hp_kW       km
8699   8900           1.0         3.0  2.0   51.0  40000.0
5137  11490           1.0         0.0  3.0   70.0  97976.0
536   16800           1.0         0.0  1.0   66.0  14500.0
876    7899           1.0         3.0  3.0   55.0  25329.0
8690  19499           0.0         4.0  2.0  125.0  37125.0

In [26]:
validation.head()

       price  Gearing_Type  make_model  age  hp_kW       km
3132   15480           0.0         2.0  3.0  100.0  56587.0
8123   24900           1.0         7.0  1.0   96.0  20000.0
10948  27400           0.0         0.0  0.0   85.0     10.0
1986   11975           1.0         2.0  2.0   74.0  38500.0
7487   12450           1.0         4.0  3.0  103.0  45000.0

In [27]:
train.to_csv('train.csv', index=False, header=False)
validation.to_csv('validation.csv', index=False, header=False)

In [28]:
import sagemaker, boto3, os
bucket = 'richard-eu12'
prefix = 'sagemaker-autoscout'

In [29]:
# write datasets to the s3 bucket
boto3.Session().resource('s3').Bucket(bucket).Object(prefix + '/data/train.csv').upload_file('train.csv')
boto3.Session().resource('s3').Bucket(bucket).Object(prefix + '/data/validation.csv').upload_file('validation.csv')

In [30]:
! aws s3 ls {bucket}/{prefix}/data --recursive

2023-01-11 09:08:17     298744 sagemaker-autoscout/data/train.csv
2023-01-11 09:08:17      99546 sagemaker-autoscout/data/validation.csv

# Train Model

In [31]:
import sagemaker
region = sagemaker.Session().boto_region_name
print("AWS Region: {}".format(region))

role = sagemaker.get_execution_role()
print("RoleArn:{}".format(role))

AWS Region: us-east-1
RoleArn:arn:aws:iam::046402772087:role/service-role/AmazonSageMaker-ExecutionRole-20230102T122328

In [32]:
sagemaker.__version__

'2.117.0'

In [33]:
from sagemaker.debugger import Rule, rule_configs
from sagemaker.session import TrainingInput

In [34]:
s3_output_location = 's3://{}/{}/{}'.format(bucket, prefix, 'output')

In [36]:
container = sagemaker.image_uris.retrieve("xgboost",region, version="1.2-2")
print(container)

683313688378.dkr.ecr.us-east-1.amazonaws.com/sagemaker-xgboost:1.2-2

In [38]:
#container2 = sagemaker.image_uris.retrieve("xgboost",region, version="latest")
#print(container2)

811284229777.dkr.ecr.us-east-1.amazonaws.com/xgboost:latest

In [55]:
#help(sagemaker.image_uris.retrieve)

In [37]:
xgb_model = sagemaker.estimator.Estimator(
    container,
    role,
    instance_count=1,
    instance_type='ml.m4.xlarge',
    volume_size = 1,
    output_path = s3_output_location,
    sagemaker_session=sagemaker.Session(),
    rules = [Rule.sagemaker(rule_configs.create_xgboost_report())]
    )

In [57]:
#help(xgb_model.set_hyperparameters)

In [38]:
xgb_model.set_hyperparameters(max_depth=4,
                              eta=0.5,
                              num_round=200,
                              objective = "reg:squarederror", 
                              early_stopping_rounds=10)  #objective = "reg:squarederror", "reg:linear" for latest xgboost!

In [39]:
from sagemaker.session import TrainingInput

train_input = TrainingInput(
's3://{}/{}/{}'.format(bucket, prefix, 'data/train.csv'), content_type='csv'
)

validation_input = TrainingInput(
's3://{}/{}/{}'.format(bucket, prefix, 'data/validation.csv'), content_type='csv'
)

In [40]:
data_channels = {'train': train_input, 'validation': validation_input}

In [41]:
xgb_model.fit(data_channels)

2023-01-11 09:10:17 Starting - Starting the training job...CreateXgboostReport: InProgress
ProfilerReport-1673428217: InProgress
...
2023-01-11 09:11:05 Starting - Preparing the instances for training............
2023-01-11 09:13:06 Downloading - Downloading input data...
2023-01-11 09:13:46 Training - Downloading the training image......
2023-01-11 09:14:48 Uploading - Uploading generated training model.[2023-01-11 09:14:43.119 ip-10-2-176-163.ec2.internal:7 INFO utils.py:27] RULE_JOB_STOP_SIGNAL_FILENAME: None
[2023-01-11:09:14:43:INFO] Imported framework sagemaker_xgboost_container.training
[2023-01-11:09:14:43:INFO] Failed to parse hyperparameter objective value reg:squarederror to Json.
Returning the value itself
[2023-01-11:09:14:43:INFO] No GPUs detected (normal if no gpus installed)
[2023-01-11:09:14:43:INFO] Running XGBoost Sagemaker in algorithm mode
[2023-01-11:09:14:43:INFO] Determined delimiter of CSV input is ','
[2023-01-11:09:14:43:INFO] Determined delimiter of CSV input is ','
[2023-01-11:09:14:43:INFO] Determined delimiter of CSV input is ','
[2023-01-11:09:14:43:INFO] Determined delimiter of CSV input is ','
[2023-01-11:09:14:43:INFO] Single node training.
[2023-01-11:09:14:43:INFO] Train matrix has 9548 rows and 5 columns
[2023-01-11:09:14:43:INFO] Validation matrix has 3183 rows
[2023-01-11 09:14:43.219 ip-10-2-176-163.ec2.internal:7 INFO json_config.py:91] Creating hook from json_config at /opt/ml/input/config/debughookconfig.json.
[2023-01-11 09:14:43.220 ip-10-2-176-163.ec2.internal:7 INFO hook.py:201] tensorboard_dir has not been set for the hook. SMDebug will not be exporting tensorboard summaries.
[2023-01-11 09:14:43.220 ip-10-2-176-163.ec2.internal:7 INFO profiler_config_parser.py:102] User has disabled profiler.
[2023-01-11 09:14:43.221 ip-10-2-176-163.ec2.internal:7 INFO hook.py:255] Saving to /opt/ml/output/tensors
[2023-01-11 09:14:43.221 ip-10-2-176-163.ec2.internal:7 INFO state_store.py:77] The checkpoint config file /opt/ml/input/config/checkpointconfig.json does not exist.
[2023-01-11:09:14:43:INFO] Debug hook created from config
[0]#011train-rmse:10154.40234#011validation-rmse:10283.54199
[2023-01-11 09:14:43.229 ip-10-2-176-163.ec2.internal:7 INFO hook.py:423] Monitoring the collections: hyperparameters, labels, feature_importance, predictions, metrics
[2023-01-11 09:14:43.232 ip-10-2-176-163.ec2.internal:7 INFO hook.py:486] Hook is writing from the hook with pid: 7
[1]#011train-rmse:5674.18701#011validation-rmse:5860.34033
[2]#011train-rmse:3668.94946#011validation-rmse:3888.59082
[3]#011train-rmse:2797.02759#011validation-rmse:3010.14575
[4]#011train-rmse:2455.24048#011validation-rmse:2664.59302
[5]#011train-rmse:2319.00073#011validation-rmse:2515.17895
[6]#011train-rmse:2257.98511#011validation-rmse:2453.76782
[7]#011train-rmse:2214.22900#011validation-rmse:2416.46973
[8]#011train-rmse:2130.13477#011validation-rmse:2304.48584
[9]#011train-rmse:2085.41943#011validation-rmse:2272.25855
[10]#011train-rmse:2069.24048#011validation-rmse:2261.18896
[11]#011train-rmse:2042.95679#011validation-rmse:2260.69141
[12]#011train-rmse:2022.67590#011validation-rmse:2243.85522
[13]#011train-rmse:2007.31763#011validation-rmse:2241.09058
[14]#011train-rmse:1978.45618#011validation-rmse:2220.67432
[15]#011train-rmse:1956.61291#011validation-rmse:2194.70386
[16]#011train-rmse:1935.72424#011validation-rmse:2181.12695
[17]#011train-rmse:1930.54126#011validation-rmse:2176.23193
[18]#011train-rmse:1919.91663#011validation-rmse:2169.10547
[19]#011train-rmse:1901.01733#011validation-rmse:2155.89990
[20]#011train-rmse:1885.27478#011validation-rmse:2139.49561
[21]#011train-rmse:1873.67236#011validation-rmse:2137.49683
[22]#011train-rmse:1866.47888#011validation-rmse:2132.40796
[23]#011train-rmse:1862.16882#011validation-rmse:2128.78687
[24]#011train-rmse:1856.19092#011validation-rmse:2120.71924
[25]#011train-rmse:1840.53699#011validation-rmse:2110.86401
[26]#011train-rmse:1831.05701#011validation-rmse:2100.48438
[27]#011train-rmse:1822.05676#011validation-rmse:2101.39722
[28]#011train-rmse:1819.87134#011validation-rmse:2103.47754
[29]#011train-rmse:1812.34583#011validation-rmse:2100.88232
[30]#011train-rmse:1807.35632#011validation-rmse:2094.83081
[31]#011train-rmse:1798.76379#011validation-rmse:2084.50171
[32]#011train-rmse:1795.68591#011validation-rmse:2081.92773
[33]#011train-rmse:1788.16040#011validation-rmse:2075.97656
[34]#011train-rmse:1777.23975#011validation-rmse:2072.42358
[35]#011train-rmse:1770.39673#011validation-rmse:2070.54053
[36]#011train-rmse:1767.95606#011validation-rmse:2070.34546
[37]#011train-rmse:1764.89868#011validation-rmse:2069.15430
[38]#011train-rmse:1756.74011#011validation-rmse:2065.52759
[39]#011train-rmse:1753.22412#011validation-rmse:2064.67163
[40]#011train-rmse:1746.25659#011validation-rmse:2061.54443
[41]#011train-rmse:1739.73193#011validation-rmse:2058.72852
[42]#011train-rmse:1735.16467#011validation-rmse:2054.04394
[43]#011train-rmse:1728.16589#011validation-rmse:2051.59692
[44]#011train-rmse:1725.47388#011validation-rmse:2049.95557
[45]#011train-rmse:1723.76831#011validation-rmse:2048.51440
[46]#011train-rmse:1719.85547#011validation-rmse:2048.48779
[47]#011train-rmse:1717.27368#011validation-rmse:2046.33813
[48]#011train-rmse:1714.75818#011validation-rmse:2048.18286
[49]#011train-rmse:1708.92578#011validation-rmse:2043.43079
[50]#011train-rmse:1706.92029#011validation-rmse:2041.23389
[51]#011train-rmse:1701.94250#011validation-rmse:2030.75098
[52]#011train-rmse:1699.71399#011validation-rmse:2030.39001
[53]#011train-rmse:1697.44519#011validation-rmse:2030.01868
[54]#011train-rmse:1693.76721#011validation-rmse:2028.58130
[55]#011train-rmse:1689.60803#011validation-rmse:2027.66028
[56]#011train-rmse:1684.40503#011validation-rmse:2027.23279
[57]#011train-rmse:1680.72498#011validation-rmse:2025.23254
[58]#011train-rmse:1677.68384#011validation-rmse:2021.46533
[59]#011train-rmse:1675.36096#011validation-rmse:2021.58533
[60]#011train-rmse:1671.15137#011validation-rmse:2016.65613
[61]#011train-rmse:1668.69165#011validation-rmse:2018.41919
[62]#011train-rmse:1666.74390#011validation-rmse:2019.21912
[63]#011train-rmse:1665.95715#011validation-rmse:2018.52942
[64]#011train-rmse:1662.45227#011validation-rmse:2015.85498
[65]#011train-rmse:1659.30554#011validation-rmse:2017.28369
[66]#011train-rmse:1656.53088#011validation-rmse:2017.67859
[67]#011train-rmse:1652.52612#011validation-rmse:2017.62695
[68]#011train-rmse:1648.63440#011validation-rmse:2015.43958
[69]#011train-rmse:1647.10584#011validation-rmse:2016.62366
[70]#011train-rmse:1645.24121#011validation-rmse:2015.33838
[71]#011train-rmse:1642.47327#011validation-rmse:2015.73242
[72]#011train-rmse:1640.38660#011validation-rmse:2014.00171
[73]#011train-rmse:1637.62720#011validation-rmse:2013.58460
[74]#011train-rmse:1636.42017#011validation-rmse:2012.65747
[75]#011train-rmse:1632.76172#011validation-rmse:2012.93262
[76]#011train-rmse:1625.25073#011validation-rmse:2006.70142
[77]#011train-rmse:1624.11401#011validation-rmse:2007.04724
[78]#011train-rmse:1623.89124#011validation-rmse:2006.63330
[79]#011train-rmse:1622.07202#011validation-rmse:2007.41419
[80]#011train-rmse:1621.15649#011validation-rmse:2007.55481
[81]#011train-rmse:1621.07044#011validation-rmse:2007.60876
[82]#011train-rmse:1620.13342#011validation-rmse:2007.74487
[83]#011train-rmse:1618.08887#011validation-rmse:2007.56226
[84]#011train-rmse:1617.23975#011validation-rmse:2007.25037
[85]#011train-rmse:1617.02502#011validation-rmse:2007.09924
[86]#011train-rmse:1610.65430#011validation-rmse:2006.51831
[87]#011train-rmse:1607.15112#011validation-rmse:2007.68335
[88]#011train-rmse:1603.65796#011validation-rmse:2004.62903
[89]#011train-rmse:1598.74255#011validation-rmse:2006.05237
[90]#011train-rmse:1597.10596#011validation-rmse:2007.24170
[91]#011train-rmse:1592.26038#011validation-rmse:2006.70715
[92]#011train-rmse:1588.81116#011validation-rmse:1995.33142
[93]#011train-rmse:1586.64978#011validation-rmse:1995.14893
[94]#011train-rmse:1585.50403#011validation-rmse:1995.27478
[95]#011train-rmse:1583.97705#011validation-rmse:1995.46472
[96]#011train-rmse:1581.33154#011validation-rmse:1996.08997
[97]#011train-rmse:1577.42627#011validation-rmse:1996.44250
[98]#011train-rmse:1574.03711#011validation-rmse:1996.98743
[99]#011train-rmse:1570.93982#011validation-rmse:1997.71460
[100]#011train-rmse:1565.33374#011validation-rmse:1988.90417
[101]#011train-rmse:1562.83789#011validation-rmse:1986.89343
[102]#011train-rmse:1560.80640#011validation-rmse:1986.81775
[103]#011train-rmse:1559.32361#011validation-rmse:1985.78516
[104]#011train-rmse:1557.80603#011validation-rmse:1984.28174
[105]#011train-rmse:1556.04846#011validation-rmse:1984.10523
[106]#011train-rmse:1555.52551#011validation-rmse:1984.43408
[107]#011train-rmse:1554.98877#011validation-rmse:1984.00928
[108]#011train-rmse:1552.87122#011validation-rmse:1983.03625
[109]#011train-rmse:1552.28857#011validation-rmse:1983.93958
[110]#011train-rmse:1551.50610#011validation-rmse:1984.95532
[111]#011train-rmse:1547.20007#011validation-rmse:1983.42078
[112]#011train-rmse:1543.17505#011validation-rmse:1984.37158
[113]#011train-rmse:1539.94531#011validation-rmse:1983.00293
[114]#011train-rmse:1537.70776#011validation-rmse:1983.20447
[115]#011train-rmse:1535.05835#011validation-rmse:1982.20325
[116]#011train-rmse:1534.00635#011validation-rmse:1983.57068
[117]#011train-rmse:1533.20740#011validation-rmse:1983.16894
[118]#011train-rmse:1532.88843#011validation-rmse:1983.44885
[119]#011train-rmse:1532.25305#011validation-rmse:1984.04321
[120]#011train-rmse:1531.51953#011validation-rmse:1984.19299
[121]#011train-rmse:1529.71545#011validation-rmse:1984.10535
[122]#011train-rmse:1527.47534#011validation-rmse:1984.35303
[123]#011train-rmse:1524.55969#011validation-rmse:1985.56274
[124]#011train-rmse:1522.55335#011validation-rmse:1984.91138
[125]#011train-rmse:1521.17981#011validation-rmse:1986.80701

2023-01-11 09:15:06 Completed - Training job completed
Training seconds: 128
Billable seconds: 128

# Create Endpoint

In [42]:
# this code creates an endpoint
import sagemaker               
from sagemaker.serializers import CSVSerializer
predictor = xgb_model.deploy(initial_instance_count=1,
                             instance_type='ml.m5.xlarge',
                            serializer = CSVSerializer())

-----!

In [43]:
predictor.endpoint_name

'sagemaker-xgboost-2023-01-11-09-19-03-337'

# Prepare the test data

In [44]:
test_data.head()

   price  age  hp_kW       km Gearing_Type make_model
0  14500  2.0  141.0  80000.0    Automatic    Audi A1
1  16790  3.0   66.0  16200.0    Automatic    Audi A1
2  15090  3.0   85.0  63668.0    Automatic    Audi A1
3  17990  2.0   70.0  16103.0    Automatic    Audi A1
4  17990  3.0   92.0  26415.0    Automatic    Audi A1

In [45]:
X=test_data.drop(["price"], axis = 1)
y=test_data['price']

In [46]:
test_numpy=column_trans.transform(X)

In [47]:
test_numpy

array([[0.0000e+00, 0.0000e+00, 2.0000e+00, 1.4100e+02, 8.0000e+04],
       [0.0000e+00, 0.0000e+00, 3.0000e+00, 6.6000e+01, 1.6200e+04],
       [0.0000e+00, 0.0000e+00, 3.0000e+00, 8.5000e+01, 6.3668e+04],
       ...,
       [0.0000e+00, 7.0000e+00, 0.0000e+00, 1.6500e+02, 1.0000e+01],
       [0.0000e+00, 7.0000e+00, 0.0000e+00, 1.1800e+02, 1.0000e+01],
       [0.0000e+00, 7.0000e+00, 0.0000e+00, 1.6500e+02, 9.9000e+03]])

In [49]:
test = pd.DataFrame(test_numpy, columns = ["Gearing_Type", 'make_model', "age", "hp_kW", "km"], index = X.index)

In [50]:
test.head()

   Gearing_Type  make_model  age  hp_kW       km
0           0.0         0.0  2.0  141.0  80000.0
1           0.0         0.0  3.0   66.0  16200.0
2           0.0         0.0  3.0   85.0  63668.0
3           0.0         0.0  2.0   70.0  16103.0
4           0.0         0.0  3.0   92.0  26415.0

In [51]:
test.shape

(3183, 5)

In [52]:
test.to_csv('test.csv', index=False, header=False)

# Run predictions using numpy input using predictor (Method-1)

In [53]:
test.head()

   Gearing_Type  make_model  age  hp_kW       km
0           0.0         0.0  2.0  141.0  80000.0
1           0.0         0.0  3.0   66.0  16200.0
2           0.0         0.0  3.0   85.0  63668.0
3           0.0         0.0  2.0   70.0  16103.0
4           0.0         0.0  3.0   92.0  26415.0

In [62]:
result = predictor.predict([0.0,0.0,2.0,141.0,80000.0])
result

b'17277.77734375\n'

In [65]:
results = predictor.predict(test.to_numpy())

In [67]:
#results

In [68]:
results = np.fromstring(results, sep='\n')   #sep='\n' or sep=','

In [69]:
results

array([17277.77734375, 15529.5546875 , 15698.14648438, ...,
       35725.3203125 , 33972.03125   , 41680.46875   ])

In [70]:
eval_metrics(y,results)

 r2_score: 0.9215298241147185
 mae: 1258.7995276419651
 mse: 4423819.441034105
 rmse: 2103.2877694300664

In [71]:
test_data["predicted_price"] = results

In [73]:
test_data.sample(5, random_state=41)

,price,age,hp_kW,km,Gearing_Type,make_model,predicted_price
1846,13990,1.0,66.0,12099.0,Automatic,Opel Corsa,13579.380859
1671,12500,3.0,66.0,52000.0,Automatic,Opel Corsa,10877.949219
1497,13900,1.0,81.0,13149.0,Manual,Opel Astra,14157.275391
149,15950,3.0,66.0,53900.0,Semi-automatic,Audi A1,16644.998047
2352,16800,1.0,103.0,23401.0,Manual,Opel Insignia,19443.669922

# Run predictions only using the endpoint name (Method-2):

In [74]:
endpoint_name = predictor.endpoint_name
endpoint_name

'sagemaker-xgboost-2023-01-11-09-19-03-337'

In [75]:
with open('test.csv', 'r') as f:
    payload = f.read().strip('\n')

In [253]:
# payload="0.0,0.0,2.0,141.0,80000.0"     # by this one you can try a single value to be predicted

In [76]:
import boto3

# Create a low-level client representing Amazon SageMaker Runtime
sagemaker_runtime = boto3.client("sagemaker-runtime", region_name=boto3.Session().region_name)

# The name of the endpoint. The name must be unique within an AWS Region in your AWS account. 

# After you deploy a model into production using SageMaker hosting 
# services, your client applications use this API to get inferences 
# from the model hosted at the specified endpoint.
response = sagemaker_runtime.invoke_endpoint(
                            EndpointName=endpoint_name, 
                            Body=payload, # Replace with your own data.
                            ContentType = 'text/csv')

# Optional - Print the response body and decode it so it is human read-able.
#print(response['Body'].read().decode('utf-8'))

In [80]:
#response

In [77]:
results2 = response['Body'].read()   # results2 = response['Body'].read().decode('utf-8') if required

In [71]:
#results2

In [78]:
results2 = np.fromstring(results2, sep='\n')

In [79]:
results2

array([17277.77734375, 15529.5546875 , 15698.14648438, ...,
       35725.3203125 , 33972.03125   , 41680.46875   ])

In [80]:
results2.shape

(3183,)

In [81]:
y.shape

(3183,)

In [82]:
eval_metrics(y,results2)

 r2_score: 0.9215298241147185
 mae: 1258.7995276419651
 mse: 4423819.441034105
 rmse: 2103.2877694300664

In [83]:
test_data["predicted_price2"] = results2

In [84]:
test_data.sample(5, random_state=41)

,price,age,hp_kW,km,Gearing_Type,make_model,predicted_price,predicted_price2
1846,13990,1.0,66.0,12099.0,Automatic,Opel Corsa,13579.380859,13579.380859
1671,12500,3.0,66.0,52000.0,Automatic,Opel Corsa,10877.949219,10877.949219
1497,13900,1.0,81.0,13149.0,Manual,Opel Astra,14157.275391,14157.275391
149,15950,3.0,66.0,53900.0,Semi-automatic,Audi A1,16644.998047,16644.998047
2352,16800,1.0,103.0,23401.0,Manual,Opel Insignia,19443.669922,19443.669922

# jason info:

In [94]:
event = {
  "data": "0.0,0.0,2.0,141.0,80000.0"
}

data = json.loads(json.dumps(event))

payload = data["data"]
payload

'0.0,0.0,2.0,141.0,80000.0'

In [95]:
type(event)

dict

In [96]:
type(payload)

str

In [97]:
my_dict = {
    "age": 2,
    "hp_kW": 141,
    "km": 80000,
    'Gearing_Type':'Automatic',
    "make_model": 'Audi A1'}

In [98]:
df = pd.DataFrame.from_dict([my_dict])

In [99]:
df2 = column_trans.transform(df)

In [100]:
df2

array([[0.00e+00, 0.00e+00, 2.00e+00, 1.41e+02, 8.00e+04]])

In [101]:
df2 = pd.DataFrame(df2)

In [102]:
df2

     0    1    2      3        4
0  0.0  0.0  2.0  141.0  80000.0

In [103]:
df2.to_csv('df2.csv', index=False, header=False)

In [104]:
with open('df2.csv', 'r') as f:
    payload = f.read().strip('\n')

In [105]:
payload

'0.0,0.0,2.0,141.0,80000.0'

In [106]:
event = {
  "data": payload
  
}

In [107]:
event

{'data': '0.0,0.0,2.0,141.0,80000.0'}